{% extends 'layout.jinja2' %}

{% block subtitle %} Welcome to Paper Summarize. {% endblock subtitle %}

{% block content %}

<div class="main-nav row" style="padding: 10px 0; background-color: white;">
  <div class="col-xs-12">
    <ul class="list-inline feed-nav">
      <li class="list-inline-item"><a href="/">home</a></li>
      <li class="list-inline-item"><a href="/new">new</a></li>
      <li class="list-inline-item"><a href="/top">top</a></li>
      <li class="list-inline-item"><a href="/tips">tips</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    {% for paper in papers %}
    <div class="row"></div>
    {% endfor %}

    <div class="footer row" style="margin-bottom: 50px; padding: 10px 0;">
      <div class="col-xs-12" style="margin-top: 10px;">

        <span style="background-color: white; margin-right: 10px; padding: 10px;">
          <a href="#">&#8678; Previous</a>
        </span>

        <span style="background-color: white; margin-right: 10px; padding: 10px;">
          <a href="#">Next &#8680;</a>
        </span>
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}
