<form class="form-inline form-tag" action="#" method="post">
<div class="form-group form-group-tag">
    <textarea name="next" hidden>{{ request.url }}</textarea>
    <input class="form-control input-tag" placeholder="Enter tag." name="body">
</div>
</form>