<div class="paper-cell row">
    <div class="paper-cell-body col-12">
        <div class="font-weight-bold"><a href="{{paper.link}}">{{ paper.title }}</a></div>
        <div>
            {% for author in paper.authors %}
            {{ author }}{{ ", " if not loop.last }}
            {% endfor %}
        </div>
    </div>
</div>