<div class="paper-cell row">
    <div class="paper-cell-body col-12">
        <div class="font-weight-bold"><a href="{{ request.route_url('paper', paper_id=paper.id) }}">{{ paper.title }}</a></div>
        <div>
            {% for author in paper.authors %}
            {{ author }}{{ ", " if not loop.last }}
            {% endfor %}
        </div>
        <div class="paper-cell-buttons">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{paper.link}}">link</a></li>
                <li class="list-inline-item"><a href="#">bookmark</a></li>
                <li class="list-inline-item"><a href="#">star</a></li>
                <li class="list-inline-item"><a href="#">tags</a></li>
            </ul>
        </div>
    </div>
</div>